.fotito{
    margin: auto;
    width: 25%;
}
h5 {
    font-size: 3.25rem;
}
.carousel-caption.d-none.d-md-block{
    font-family:Impact;
    color: rgba(11, 220, 0, 0.802);
    margin: auto;
    top: 30%;
    right:60%;

}

.acercadeTexto{
    text-align: center;
    color: rgba(255, 255, 255, 0.905);
    width: 50%;
    margin-left: 330px;
    padding: 5px;
}

.siguenosEn{
    text-align: center;
    padding-top: 100px;
    color: white;
}

.logo{
    margin: auto;
    width: 50%;
}